.maincontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.placedetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placenametype {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1rem;
}

.placename {
  font-weight: bold;
}

.placetype {
  color: #00b8e0;
  font-size: 0.9rem;
  margin-left: 10px;
}

.placeaddress {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #b0b0b0;
  font-weight: 300;
  margin-left: 1rem;
  margin-right: 1rem;
}

.placerate {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.placeiconlist {
  margin-top: 1rem;
  display: flex;
  margin-top: 8px;
  width: 300px;
  justify-content: space-between;
}

.placeicon {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70px;
}

.placeiconname {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.card {
  border: none;
}

.customToggle {
  border: 0;
  padding: 10px 20px;
  background-color: #ffffff;
}

.togglelist {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
}

.toggle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px;
}

.toggle > div {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 2px;
}

.toggle > div > div:first-child {
  font-weight: bold;
}

.toggle > div > div:last-child {
  margin-left: 40px;
}

.reviewcontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.reviewinputtop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.reviewtitle {
  font-size: 1rem;
}

.reviewinputstar {
  font-size: 2rem;
}

.reviewinput {
  border: 2px solid #9d9d9d;
  border-radius: 10px;
  font-size: 0.8rem;
  min-height: 5rem;
  padding: 0.3rem;
  margin-top: 1rem;
  resize: none;
}

.reviewinputbutton {
  display: flex;
  background-color: #e599b3;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  height: 1.3rem;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: #e599b3;
}

.reviewlist {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.reviewlisttitle {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
}

.reviewlistnum {
  font-size: 1.5rem;
  font-weight: bold;
}

.reviewlistsort {
  font-size: 1rem;
}

.review {
  margin-top: 1rem;
}

.reviewtop {
  display: flex;
  justify-content: space-between;
}

.reviewtopleft {
  display: flex;
  align-items: center;
}

.reviewstar {
  font-size: 1rem;
  color: #f0a044;
  margin-right: 1rem;
}

.reviewuser {
  position: relative;
  font-size: 0.9rem;
}

.reviewdate {
  color: #9d9d9d;
  font-size: 0.7rem;
}

.reviewcontent {
  font-size: 1rem;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.helpbuttoncontainer {
  display: flex;
  justify-content: space-between;
}

.helpbutton {
  display: flex;
  font-weight: bold;
  font-size: 0.5rem;
  margin-top: 1rem;
  height: 1.3rem;
  align-items: center;
  border-radius: 10px;
  border-color: #f0a044;
  background-color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.helpbuttonnum {
  color: #cb3267;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.6rem;
}
