.btnCont {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.filterBtnCont {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filterBtnCont > div {
    background-color: white;
    display: flex;
    margin: 4px 10px;
    padding: 8px 22px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {    
    .listViewBtn {
        background-color: white;
        display: flex;    
        justify-content: center;
        margin-bottom: 15px;
        padding: 8px 22px;
        width: 200px;
        position: relative;
        cursor: pointer;
        font-weight: bold;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    }
}